@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    --accent1: #652e65;
    --accent2: #a54da5;
    --body: #FAF9F6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body {
    background-color: var(--body);
    color: var(--accent1);
}

.plyfrdspysc {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
}

.plyfrdspy {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

header {
    width: 100%;
    height: 100dvh;
    justify-content: space-around;
    align-items: flex-start;
}

#herocta {
    width: 100%;
    align-items: center;
}

#herocta>h2 {
    font-weight: 100;
    font-size: 7rem;
}

#hero-text {
    align-items: center;
}

#hero-text>p {
    padding: 5rem;
    font-size: 1.2rem;
}
main{
    padding: 0 3rem;
    padding-top: 3rem;
    width: 100%;
}
#projects {
    padding: 0 2rem;
    width: 100%;
}
.prjcrd{

    position: relative;
    width: 33.33%;
    height: 75vh;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    clip-path: fill-box;
    padding: 0 .75rem;
    border-radius: 12px;
    background-position: left;
    background-size: cover;
    background-color: aquamarine;
}

.project-title:nth-child(1){
    font-weight: 600;
}
.project-title:nth-child(2){
    font-size: .75rem;
}
.ttlcontainer{
    width: 100%;
    justify-content: flex-end;
    padding: .5rem;
    background-color: var(--body);
}
.hidden {
    opacity: 0;
    transform: translateX(-100%);
}


.hscroller{
    height: 100%;
    font-size: 8rem;
    text-wrap: nowrap;
}
.hscroller:nth-of-type(1) p{
    animation: scroller 32s linear infinite none;
}
.hscroller:nth-of-type(2) p{
    animation: scroller 30s linear infinite alternate-reverse;
}
#abt-me{
    height: 70vh;
}


img {
    max-width: 100%;
}

.arrow {
    animation: arrow-point 500ms infinite cubic-bezier(0.785, 0.135, 0.15, 0.86) alternate;
}

#scroll {
    font-size: 5rem;
    font-weight: 100;
}

#scroll>span {
    display: inline-block;
}

nav{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 3rem;
    justify-content: center;
    padding: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

#directory > a{
    color: var(--accent1);
    background-color: var(--body);
    border: 2px solid var(--accent1);
    padding: .5rem 1.25rem;
    font-weight: 400;
    border-radius: 10px;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
#directory > a:hover{
    color: var(--accent2);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}
#directory{
    justify-content: space-around;
    width: 75%;
}



/* Reusables */
.caps {
    text-transform: uppercase;

}

.btn {
    text-decoration: none;
}
.flex {
    display: flex;
    flex-flow: row wrap;
}

.column {
    flex-flow: column wrap;
}
.nw {
    flex-wrap: nowrap;
}
em {
    font-style: italic;
}

strong {
    font-style: bold;
}


h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3.75rem
}


/* anims */
@keyframes arrow-point {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(5%);
    }
}

@keyframes scroller {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}