*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
h1::before{
    content: "Hi, I am";
    position: absolute;
    top : 2rem;
    left: .4rem;
    line-height: .75rem;
    font-size: .75rem;
}
h1{
    line-height: 10rem;
    font-size: 10rem;
}