@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    --accent1: #B026FF;
    --accent2: #a54da5;
    --accent3: #28232c;
    --accent4: #1a1a1a;
    --body: #0e1111;
}

/* For Firefox */
* {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #c5c5c5 #000000;
}

/* For Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #c5c5c5;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
    border: 3px solid #f6f6f6;
}
/* Reusables */
.caps {
    text-transform: uppercase;

}

.btn {
    color: inherit;
    text-decoration: none;
}
.flex {
    display: flex;
    flex-flow: row wrap;
}

.column {
    flex-flow: column wrap;
}
.nw {
    flex-wrap: nowrap;
}
.none{
    display: none;
}
.plyfrdspysc {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
}

.plyfrdspy {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
/* end */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body);
    color: var(--accent1);
}


#headerbg{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    z-index: -1;
}

.rain{
    /* 464f9c */
    background-color: rgb(71, 86, 156);
    width: 0.1rem;
    height: 1.5rem;
    translate: 50% -500%;
    border-radius: 50%;
    position: absolute;
    filter: drop-shadow(rgba(255, 255, 255, .5) 0px 0px 5px);
    /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
}

.falling{
    animation: cross 3.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite normal;
}
#headmain{
    animation: fadein 600ms linear forwards normal;
}
#hero-text p{
    opacity: 0;
    animation: fadein 1000ms linear 600ms forwards normal;
}
#indexhead {
    position: relative;
    width: 100%;
    height: 100dvh;
    align-items: center;
    justify-content: space-around;
}

#herocta {
    align-items: center;
    opacity: 0;
    animation: fadein 1000ms linear 1s forwards normal;
}

#herocta>h2 {
    font-weight: 100;
    font-size: 7rem;
}

#hero-text {
    align-items: center;
}
.neon{
    filter: drop-shadow(rgba(182, 61, 230, 0.5) 0px 0px 5px);
}

#hero-text>p {
    font-size: 1.2rem;
}
main{
    width: 100%;
    overflow-x: hidden;
}
#projects {
    padding-top: 1rem;
    justify-content: space-between;
    row-gap: 2rem;
    width: 100%;
}
.prjcrd{
    border: var(--accent1) solid 2px;
    position: relative;
    width: 30%;
    height: 60vh;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: #000000;
    transition: all 1s ease, scale 200ms, width 500ms cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
}
.prjcrd:hover{
    scale: 1.01;
    animation: extra-neon 600ms ease-in-out 0s infinite alternate;
}

.prjcrd::after{
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 1;
    content: "see more";
    text-wrap: nowrap;
    text-transform: uppercase;
    position: absolute;
    font-weight: 900;
    font-size: 4rem;
    width: 0%;
    height: 105%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent2);
    background-color: var(--body);
    top: 50%;
    transform: translatey(-50%);
    clip-path: content-box;
}
.prjcrd:hover::after{
    width: 105%;
}

.project-title:nth-child(1){
    font-weight: 600;
}
.project-title:nth-child(2){
    font-size: .75rem;
}
.ttlcontainer{
    background-color: var(--accent3);
    width: 100%;
    color: var(--accent1);
    justify-content: flex-end;
    padding: .5rem;

}
.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

main > section + section{
    margin-top: 4dvh;
}

main > section{
    padding: 0 2rem;
}

.hscroller{
    font-size: 4rem;
    text-wrap: nowrap;
    user-select: none;
}

#resume .btn{
    transform: translateX(calc(50dvw - 50% - 4rem));
    margin-top: 2%;
    width: 50%;
    font-size: 2rem;
    font-weight: 600;
}

#resume .hscroller p{
    animation: scroller 35s linear infinite none;
}

#resumehead{
    margin-bottom: 2%;
}

#resume .hscroller:last-of-type p{
    animation: scroller 35s linear infinite reverse;
}
#abt-me{
    height: 60vh;
    justify-content: center;
    align-items: center;
    position: relative;
}
#abt-me > section:first-of-type{
    width: 100%;
    align-items: center;
}
#abt-me img{
    max-width: 30%;
    max-height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
#cardedabtme section:first-of-type{
    justify-content: space-between;
    row-gap: .75rem;
    align-items: center;
    padding-right: 2%;
    flex-grow: 1;
}
#cardedabtme a{
    width: 60%;
    font-size: 2rem;
    font-weight: 600;
}
#cardedabtme{
    padding: 1%;
    background-color: var(--accent3);
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 60%;
    border-radius: 10px;
}

/* #abt-me::after{
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
    position: absolute;
    content: "";
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/aboutme/poster2.jpeg);
} */

/* #abt-me > section:first-of-type{

} */

img {
    max-width: 100%;
}

.arrow {
    animation: arrow-point 500ms infinite cubic-bezier(0.785, 0.135, 0.15, 0.86) alternate;
}

#scroll {
    font-size: 5rem;
    font-weight: 100;
    user-select: none;

}

#scroll>span {
    display: inline-block;
    animation: movein 1000ms cubic-bezier(0.19, 1, 0.22, 1) 1.4s 1 forwards; 

}
 



#backtt{
    align-items: center;
    text-decoration: none;
    color: var(--accent1);

}
#backtt > p{
    font-weight: 100;

    font-size: 8rem;
}

#backtt > h3{
    font-weight: 100;

    font-size: 8rem;
}
footer{
    height: 100dvh;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}


em {
    font-style: italic;
}

strong {
    font-style: bold;
}


h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3.75rem
}
#projecthero{
    width: 100%;
    height: 30vh;
    align-items: flex-end;
    justify-content: center;
    font-size: 6rem;
    border-bottom: 4px solid var(--accent1);
    margin-bottom: 2%;
}
.projectcard{
    position: relative;
}
.overlayprojecttitle{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--body);
    justify-content: flex-start;
    align-items: center;
    transition: all 1s linear;
    overflow: hidden;
    opacity: 1;

}
.overlayprojecttitle h3{
    font-size: 2rem;
    padding-top: 1.2rem;
    padding-left: 2rem;
}
.overlayprojecttitle h3::before{
    padding-right: 1rem;
    content: "//";
}
.projectcardcontainer{
    width: 85%;
    height: 12vh;
    justify-content: flex-start;
    column-gap: 3%;
    background-color: var(--body);
    opacity: 0;
    transition: opacity 500ms ease-out 500ms;
}
.projectcardcontainer figure{
    width: 15%;
    height: 100%;
}
.projectcard:hover .overlayprojecttitle{
    height: 0%;
    opacity: 0;
}

.projectcard:hover .projectcardcontainer{
    opacity: 1;
}
.projectcardcontainer::before{
    content: "";
    background-image: url(assets/arrow-up.svg);
    rotate: 90deg;
    height: 100%;
    width: 10%;
    background-size: 50%;
    transform: translateY(100px);
    background-repeat: no-repeat;
    background-position: center;
    /* position: absolute; */
    opacity: 0;
    transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1) 300ms;
}
.projectcard:hover .projectcardcontainer::before{
    transform: translateY(0);
    opacity: 1;
}
#thx > p{
    font-size: 8rem;
    animation: extra-neon 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0s infinite alternate, scroller 15s linear infinite none; 
}
hr{
    width: 100%;
}
#cntc{
    background-color: var(--accent3);
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
.cntcs{
    justify-content: space-between;
    width: 50%;
}
#contactopen{
    text-decoration: none;
    color: inherit;
}
.contact-item{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
}
#getincontact{
    cursor: pointer;
}


.contact-item img{
    color: white;
    height: 1.5rem;
}
#resumehead{
    align-items: center;
    width: 100%;
}
/* abt me page */
#abthead{
    justify-content: space-around;
    height: 100dvh;
    align-items: center;
}
#abthead > img{
    border-radius: 50%;
    object-fit: cover;
    width: 20%;
    aspect-ratio: 1/1;
}
#abthead > section{
    width: 50%;
    justify-content: center;
}
h4{
    font-size: 1.75rem;
}
#abtme-hero{
    font-size: 5rem;
}
#ldcarousel{
    width: 50%;
    padding: 1%;
}
.carousel{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: var(--accent3);
    border-radius: 8px;
}
.carouselnav{
    width: 3rem;
    user-select: none;
    height: 3rem;
    font-weight: 500;
    font-size: 2rem;
    color: var(--body);
    background-color: var(--accent2);
    border-radius: 50% ;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}
.carouselimgs{
    width: calc(100% - 6rem);
    height: 100%;
    align-content: center;
    justify-content: center;
    position: relative;
}

.carouselimgs > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
#ldcontent{
    padding: 0 3rem;
    justify-content: space-between;
    align-items: center;
}
#ldcontent p{
    width: 40%;
    border: 2px var(--accent1) solid;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--accent4);
}

#eduints{
    justify-content: space-around;
}
#eduints h2,#hobbies h2{
    text-align: center;
    width: 100%;
}
.logoicon{
    height: 2rem;
    padding-right: .5rem;
    aspect-ratio: 1/1;
}

.eduintcard{
    background-color: var(--accent3);
    align-content: center;
    align-items: center;
    justify-content:space-between;
    /* width: 30%; */
    flex-basis: 30%;
    border-radius: 8px;
    height: 70vh;
    flex-shrink: 1;
}
.eduintcards{
    justify-content: center;
    align-content: center;
    row-gap: 3rem;
    column-gap: 3rem;
}
.descripteduint{
    width: calc(100% - 2rem);
    padding: 1rem;
    border-radius: 8px;
    border: solid var(--accent1) 2px;
    background-color: var(--accent4);
    height: 20%;
}
.descripteduint > p{
    height: 100%;
    overflow-y: auto;
    
    scroll-behavior: smooth;
}
.eduintimgcontainer{
    width: 100%;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    height: 50%;
    border-radius: 8px;
}
.eduintimgcontainer  > img{
    padding-bottom: 0;
    border-radius: 8px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.eduintcard h4{
    padding-bottom: 1rem;
}
.stats{
    flex-grow: 1;
    padding: 1rem;
}
.stats > p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
}

#hobbies >section > h3{
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
}   
#chncul{
    padding: 3rem;
}
#chinacontent{
    background-color: var(--accent3);
    padding: 2rem;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;

}
#chinacontent > p{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--accent4);
    width: calc(75% - 3rem);
    border-radius: 8px;
    border: 2px var(--accent1) solid;

}
#chinacontent .fig{
    overflow: hidden;
    border-radius: 8px;
    width: 25%;

}
#photodesign{
    justify-content: center;
}
.fig > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.gallery{
    column-gap: 3rem;
}
.gallery > .fig{
    border-radius: 20px;
    overflow: hidden;
    width: 5vw;
    height: 60vh;
    transition: all 1500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    filter: saturate(0) brightness(.75);
    cursor: pointer;
}

.gallery > .fig:hover{
    width: 10vw;
    filter: none;
}
main{
    overflow: hidden;
}

/* anims */
@keyframes arrow-point {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(5%);
    }
}

@keyframes scroller {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
        
    }
}


@keyframes cross {
    to{
        transform: translateX(0) translateY(120vh);
    }
    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes extra-neon {
    from{
        filter: drop-shadow(rgba(182, 61, 230, 0.5) 0px 0px 5px);
    }
    to{
        filter: drop-shadow(rgba(225, 149, 255, 0.5) 0px 0px 15px);
     }
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes movein {
    to{
        transform: none;
    }
}

@media only screen and (max-width: 640px) {
    :root{
        font-size: 3vw;
    }
    .prjcrd{
        width: 100%;
    }
    #cardedabtme{
        width: 100%;
    }
    .eduintcard{
        flex-basis: 100%;
    }
    #ldcontent > *{
        width: 100%;
    }
    #ldcontent p{
        width: 100%;
    }
    #abthead{
        flex-direction: column;
    }
    #scroll{
        width: 100%;
    }
    #abthead > section{
        width: 100%;
    }
    #abthead > img{
        width: unset;
    }
    #chinacontent{
        flex-flow: column;
    }
    #chinacontent p, #chinacontent .fig{
        width: unset;
    }
    .gallery > .fig{
        width: 15vw;
    }
  }